mat-toolbar {
  img {
    height: 2em;
    margin-right: 1em;
  }

  a {
    display: flex;
    align-items: center;
    margin: 0 1em;
    font-size: 0.8em;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }

  .spacer-1 {
    flex: 1;
  }

  .spacer-3 {
    flex: 3;
  }

  .user-button {
    span {
      margin-right: 0.25em;
    }

    mat-icon {
      margin: 0;
    }
  }
}

mat-icon {
  margin-right: 0.25em;
}