<mat-toolbar color="primary">
  <img src="https://ngrx.io/assets/images/badge.svg" alt="NgRx logo">
  <span>NgRx Sandbox</span>
  <span class="spacer-1"></span>
  <a><mat-icon>local_pizza</mat-icon><span>Pizzas</span></a>
  <a><mat-icon>interests</mat-icon><span>Toppings</span></a>
  <span class="spacer-3"></span>
  <button class="user-button" mat-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
    <mat-icon>face</mat-icon>
    <span>Jonas</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>people</mat-icon>
      <span>Change user</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>