<mat-toolbar color="primary">
  <img src="https://ngrx.io/assets/images/badge.svg" alt="NgRx logo">
  <span>NgRx Sandbox</span>
  <span class="spacer-1"></span>
  <a routerLink="pizzas" routerLinkActive="active"><mat-icon>local_pizza</mat-icon><span>Pizzas</span></a>
  <a routerLink="toppings" routerLinkActive="active"><mat-icon>interests</mat-icon><span>Toppings</span></a>
  <span class="spacer-3"></span>
  <ng-container *ngIf="user$ | async as user">
    <button *ngIf="user.loggedIn" class="user-button" mat-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
      <span>{{user.username}}</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <button *ngIf="!user.loggedIn" routerLink="login" mat-button>Login</button>
  </ng-container>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="changeUser()">
      <mat-icon>people</mat-icon>
      <span>Change user</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>